<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lista de Personas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="container">
        <h1 class="title">Lista de Personas</h1>
        <table class="contenedor">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Nombre</td>
                    <td th:text="${persona.apellido}">Apellido</td>
                    <td th:text="${persona.correo}">Correo</td>
                    <td class="acciones">
                        <span class="material-symbols-outlined action-icon">contract_edit</span>
                        <a th:href="@{/personas/edit/{id}(id=${persona.id})}" class="action-link">Editar</a>
                        <span class="material-symbols-outlined action-icon">delete</span>
                        <a th:href="@{/personas/delete/{id}(id=${persona.id})}" class="action-link">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/personas/create" class="create-link">Crear Nueva Persona</a>
    </div>
</body>

</html>